extends _baseEmail

block content
    p Dear sir/mam,
    p 
    p #{name} want to Leave and the details are :- 
    p Type :- #{Subject} 
    p From :- #{fromDate} 
    p To :-  #{toDate}
    p Purpose :- #{purpose}
    p 
    p Kindly approve my Leave.
    p Please let me know if you need me as a resourse in respective project.
    p 
    p Thanks & Regards 
    p #{name} 

