extends _baseEmail

block content
    h1 Offer Detail
    p Dear Mr/Ms #{name}, #{designation}
    p From :-  #{offerFrom}
    p To :-   #{offerTo}
    p Quantity :-  #{quantity}
    p Total Price :-  #{totalPrice}
    p Offer Price :-  #{offerPrice}
     p Message  :- #{message}
