extends _baseEmail

block content
    h1 #{status} Work From Home
    p Hi #{name},
    p 
    p Your W/H details are :- 
    p Subject :- #{Subject} 
    p From :- #{fromDate} 
    p To :-  #{toDate}
    p Purpose :- #{purpose}
    p Status :- #{status}

    if(reasonToCancel)
        p ReasonToCancel :- #{reasonToCancel}
    else

    p Thank you.

